---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import Header from '../components/Header'
import Popular from '../components/Popular.astro'
import AboutUs from '../components/AboutUs.astro'
import Service from '../components/Service.astro'
import ForYou from '../components/ForYou.astro'
import Location from '../components/Location.astro'
import { client } from '../services/contentful.config'

const data = await client.getEntries()
---

<Layout title='Welcome to Astro.'>
  <Header client:load/>
  <main class='relative'>
    <Hero />
    <Popular cakes={data?.items} />
    <Service />
    <AboutUs />
    <ForYou cakes={data?.items}/>
    <Location />
  </main>
</Layout>

<style>
  html {
    scroll-behavior: smooth;
  }
</style>
