---
// export const prerender = true;
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import Header from '../components/Header'
import Popular from '../components/Popular.astro'
import AboutUs from '../components/AboutUs.astro'
import Service from '../components/Service.astro'
import ForYou from '../components/ForYou.astro'
// import Location from '../components/Location.astro'
import { getCakes } from '../services/getCakes'

const data = await getCakes()
---

<Layout title='Welcome to Astro.'>
  <Header client:idle />
  <main class='relative'>
    <Hero />
    <AboutUs />
    <Service />
    <!-- <ForYou cakes={data} /> -->
    <Popular cakes={data} />
    <!-- <Location /> -->
  </main>
</Layout>

<!-- <style>
  html {
    scroll-behavior: smooth;
  }
</style> -->
