---
// interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }
import Icon from 'heroicons-astro/Heroicon.astro'
import { WhatsAppIcon } from '../assets/icons'

// const { href, title, body } = Astro.props;
const img =
  'https://www.rama.com.co/-/media/Project/Upfield/Brands/Rama/Rama-CO/Assets/Recipes/sync-img/5c3923a9-ab27-4d26-aaa1-9500924c666f.png?rev=96b46b00ed0a4007ace051f2b1161f54&w=900'
---

<article class='flex max-w-[300px] flex-col rounded-lg bg-white p-5'>
  <div class='relative'>
    <div
      class='absolute left-2 top-2 flex items-center gap-1 rounded-full bg-white px-2 py-1'
    >
      <span>4.8</span>
      <Icon
        iconCode='star'
        iconStyle='solid'
        customClasses='h-5 w-5 fill-yellow-400'
      />
    </div>
    <img src={img} alt='pastel' class='h-[200px] rounded-lg object-cover' />
  </div>
  <div class='my-2 flex justify-between px-1'>
    <p>Pastel</p>
    <span class='font-bold'>21.000</span>
  </div>
  <div
    class='mt-2 flex cursor-pointer items-center gap-3 self-center rounded-md bg-[#25D366] px-2 py-1 transition-transform duration-150 ease-in'
  >
    <p>¡Pedir Ahora!</p>
    <WhatsAppIcon />
  </div>
</article>
