---
import { WhatsAppIcon } from '../assets/icons'
import type { Cake } from '../types/types'
import {convertToCOP} from "../utils/convertToCOP";
import { slugify } from '../utils/slugify';
import {ViewTransitions} from 'astro:transitions';

interface Props extends Cake {}
const { name, price, imageCake } = Astro.props

---

<article class='flex max-w-[500px] flex-col rounded-lg bg-white p-5 shadow-2xl '>
  <div class='relative'>
    <img
      src={imageCake ? imageCake[0] : ''}
      alt='pastel'
      class='h-[200px] rounded-lg object-cover aspect-video'
      transition:name='uwu'
    />
    <!-- <ViewTransitions transition:persist/> -->
  </div>
  <div class='my-2 flex flex-col justify-between px-1'>
    <div class='flex w-full items-end justify-end gap-1'>
      <small class='mb-1 text-gray-500'>desde</small>
      <span class='text-lg font-bold'>${convertToCOP(price ?? 0)}</span>
    </div>
    <p class='text-2xl font-bold'>{name}</p>
  </div>
  <div class='mt-2 flex justify-evenly gap-1'>
    <a
      href={`/cake/${slugify(name ?? '')}`}
      class='text-center flex w-max items-center rounded-md border-2 border-secondary px-2 py-1 transition-colors duration-150 ease-out hover:bg-secondary hover:text-white'
    >
      Mas Info
    </a>
    <a
      class='flex w-max cursor-pointer items-center gap-3 self-center rounded-md bg-green-whatsapp px-2 py-1 transition-transform duration-150 ease-in hover:scale-105'
      target='_blank'
      href={`https://api.whatsapp.com/send?phone=${
        import.meta.env.PHONE_NUMBER
      }`}
    >
      <p>¡Pedir Ahora!</p>
      <WhatsAppIcon className='fill-white' />
    </a>
  </div>
</article>
