---
import Card from './Card.astro'
import Section from './Section.astro'
import CardsCakes from './CardsCakes.astro'
import type { Cake } from '../services/getCakes';

interface Props {
  cakes?: Cake[]
}
const { cakes } = Astro.props

---

<Section title='Menu' textUnderline='para ti' id='menu'>
  <ul class='md:grid md:grid-cols-3 gap-14 flex flex-wrap justify-center'>
    <CardsCakes cakes={cakes} countToShow={6}/>
  </ul>
</Section>
