---
import { WhatsAppIcon } from '../assets/icons'

---

<header
  class='fixed left-0 right-0 top-0 z-30 w-full sm:grid sm:grid-cols-3 sm:items-center sm:justify-between sm:px-4 sm:py-4 md:backdrop-blur-[20px]'
>
  <div class='col-start-2 flex justify-center gap-7'>
    <a href='#about-us' class='text-secondary'>Sobre Nosotros</a>
    <a href='#menu'>Menu</a>
    <a href='#unicacion'>Locación</a>
  </div>
  <div class='flex justify-end'>
    <WhatsAppIcon className='fill-green-whatsapp' />
  </div>
</header>
