---

---

<header class=' fixed top-0 left-0 right-0 z-30 w-full md:flex md:items-center md:justify-between md:py-4 md:px-4 md:backdrop-blur-[20px]'>
  <div>

  </div>
  <ul class='flex gap-7 f '>
    <li class='text-secondary'>Sobre Nosotros</li>
    <li>Nustro Producto</li>
    <li>Delivery</li>
  </ul>
  <div>
    uwu
  </div>
</header>