---
import cake from '../assets/cake.png'
---

<section
  class='grid grid-cols-2  justify-center items-center h-screen'
>
  <article class='flex flex-col gap-5'>
    <h1 class='text-5xl font-bold leading-snug'>
      Disfruta de un <span class='text-secondary'>pastel</span> en una celebracion
      especial
    </h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt tenetur
      perferendis optio quos facilis necessitatibus cupiditate laborum, corrupti
      temporibus minima distinctio! Nesciunt velit facilis hic, porro incidunt
      veniam tempora autem.
    </p>
    <a href='#' class='rounded-full px-5 py-2 border border-gray-500 w-min font-bold text-secondary'>Menu</a>
  </article>
  <img src={cake} alt='pastel de cumpleaños' class='w-64 justify-self-center' />
</section>
