---
import Section from './Section.astro'
import { CakeIcon, DeliveryIcon, CashIcon } from '../assets/icons'
---

<Section title='Nuestro' textUnderline='Servicio' id='service'>
  <div
    class='flex flex-wrap items-center justify-center gap-8 md:grid md:grid-cols-3 md:flex-nowrap md:justify-between'
  >
    <article class='flex flex-col items-center justify-center'>
      <CashIcon />
      <span class='text-xl font-bold text-secondary'>Economicos</span>
      <p class='mt-5 text-center'>
        Pasteles Economicos para distintas ocaciones
      </p>
    </article>
    <article class='flex flex-col items-center justify-center'>
      <CakeIcon />
      <span class='text-xl font-bold text-secondary'>Deliciosos</span>
      <p class='mt-5 text-center'>
        Pasteles Deliciosos para distintas ocaciones
      </p>
    </article>
    <article class='flex flex-col items-center justify-center'>
      <DeliveryIcon />
      <span class='text-xl font-bold text-secondary'>A domicilio</span>
      <p class='mt-5 text-center'>
        Se hacen los pedidos a domicilios dentro de un area de 1 km
      </p>
    </article>
  </div>
</Section>
