---
import { ViewTransitions } from 'astro:transitions';
interface Props {
  title: string
  className?: string
}

const { title, className } = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=Roboto:wght@300;500;700&display=swap'
      rel='stylesheet'
    />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions fallback="none"  />
  </head>
  <body class={`overflow-x-hidden ${className}`}>
    <slot />
  </body>
</html>

<style>
  * {
    font-family: 'Poppins', sans-serif;
  }
</style>
